@using System.Security.Cryptography
@model ASP_Client.Models.UserModel
@{
    ViewBag.Title = "Login";
}

@if (Model == null || !Model.ErrorMsg.Equals("Database not available"))
{
using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.")

            <div>
            <fieldset>
                <legend>Login</legend>
                <div class="editor-label">
                    @Html.LabelFor(u => u.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.Name)
                    @Html.ValidationMessageFor(u => u.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(u => u.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password)
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
            
               

                <input type="submit" value="Log In" />
            </fieldset>
            
            @if (@Model != null && @Model.ErrorMsg.Equals("Username or password is invalid"))
             {
                 <p style="color: #E10000">@Model.ErrorMsg</p>
             }

        </div>

    }
}
else
{
    @Model.ErrorMsg
}