@model ASP_Client.Models.MovieDetailsViewModel

@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>
@Html.ActionLink("Home", "SearchMovie")<br/>
<a href="javascript:window.history.back();">Back</a><br/>

Title 
@Model.Title<br/>
Year 
@Model.Year<br/>
Participants 
<table>
    <tr><th>Role</th><th>Name</th></tr>
    @foreach (var participant in Model.Participants)
    {
        <tr>
            <td>
                @participant.CharacterName
            </td>
            <td>
                @Html.ActionLink(participant.Name, "PersonDetails", new { participant.Id })
            </td>
        </tr>
    }
</table>
