@using System.Collections.ObjectModel
@model ASP_Client.Models.MovieDetailsViewModel

@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>
@Html.ActionLink("Home", "SearchMovie")<br/>
<a href="javascript:window.history.back();">Back</a><br/>

Title 
@Model.Title<br/>
Year 
@Model.Year<br/>
Rating
@Model.Rating


@using (Html.BeginForm())
  {
      <p style="padding:10px;border:1px solid grey; background: grey; width: 200px">
          Your Rating
       
          <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
          </select>
          <input type="submit" value="Submit" />
      </p>
  }

Participants 
<table>
    <tr><th>Role</th><th>Name</th></tr>
    @foreach (var participant in Model.Participants)
    {
        <tr>
            <td>
                @participant.CharacterName
            </td>
            <td>
                @Html.ActionLink(participant.Name, "PersonDetails", "Person", new {participant.Id}, null)
            </td>
        </tr>
    }
</table>
