@using System.Activities.Statements
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.Diagnostics.Eventing.Reader
@using System.Reflection.Emit
@using Microsoft.Ajax.Utilities
@model ASP_Client.Models.MovieDetailsViewModel

@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>

@if (Model.ErrorMsg.IsEmpty())
{

    <label>Title</label>
    @Model.Title <br/>
    <label>Year</label>
    @Model.Year<br/>
    <label>Rating</label>
    @Model.AvgRating<br/>

    using (Html.BeginForm())
     {
        
        
        
         <p style="padding: 10px; border: 1px solid grey; background: grey; width: 220px">
         
             Your Rating <select id="UserRating" name="UserRating">
                    	 <option value=""></option>
                     	 <option value="1">1</option>
                    	 <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                         <option value="5">5</option>
                    	 <option value="6">6</option>
                         <option value="7">7</option>
                         <option value="8">8</option>
                         <option value="9">9</option>
                         <option value="10">10</option>
	                     </select>


             @if (ViewBag.User != null)
             {
                 <input type="submit" value="Rate!"/>
             }
             else
             {
                 <label>Login required</label>
             }
         </p>
     }
     
    <label>Participants</label>
    <table><tr><th> Role </th><th> Name </th></tr>
@foreach(var participant in Model.Participants)
    {
    <tr><td>
        @participant.CharacterName
        </td><td>
        @Html.ActionLink(participant.Name, "PersonDetails", "Person", new {participant.Id}, null)
        </td></tr>
    }
</table>
}
else
{
  @Model.ErrorMsg
}

