@using System.ServiceModel.Description
@model ASP_Client.Models.PersonDetailsViewModel

@{
    ViewBag.Title = "Person";
}

<h2>Person</h2>

<table>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            <b>Gender</b>
        </td>
        <td>
            @Model.Gender
        </td>
    </tr>
    <tr>
        <td>
            <b>Role</b>
        </td>
        <td>
            @Model.Role
        </td>
    </tr>
     <tr>
        <td>
            <b>Character</b>
        </td>
        <td>
            @Model.CharName
        </td>
    </tr>
    @foreach (var detail in Model.Info)
    {
        <tr>
            <td>
                <b>@detail.Name</b>
            </td>
            <td>
                @detail.Info
            </td>
        </tr>
    }
</table>